body {
  text-align: center;
  background-color: #fdfcdc;
  color: #0081a7;
}

input {
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  font-size: 15px;
  margin: 10px;
  border: 1px solid #0081a7;
}

button {
  margin: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #fed9b7;
  font-size: 15px;
  color: #0081a7;
  font-weight: bold;
  box-shadow: 1px 1px 5px #f07167;
}

button:hover {
  background-color: #f07167;
  cursor: pointer;
  color: #fdfcdc;
}

.quote {
  border: 2px solid #00afb9;
  margin: 30px;
  padding: 10px;
  box-shadow: 1px 1px 5px #00afb9;
}

.quoteContent {
  color: #f07167;
}

.heading {
  color: #f07167;
  letter-spacing: 3px;
}